body {
    margin: 0 ;
    padding: 0;
    width: 100vh;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-image: url('../../images/dashboardPlane.jpg');
    background-position: center, 100%;
    background-size:inherit;
}

.button-term1 {
  background-color: yellow;
  color: #333;
  width: 20%;
}

.button-term2 {
  background-color: red;
  color: #fff;
  width: 20%;
}

.button-term3 {
  background-color: yellow;
  color: #333;
  width: 20%;
}
.button-term5 {
  background-color: red;
  color: #fff;
  width: 20%;
}

  ul {
    margin: 0;
    margin-top: 35px;
    width: 100vh;
  }
  
  ul li {
    
    width: 100vh;
    margin: 0px;
  }
  
  h1 {
    margin-top: 5px;
    color: white;
  }

  button {
    background-color: rgb(6, 103, 247);
    color: white;
    padding: 10px 20px;
    border-radius: 30%;
    font-size: 16px;
    width: 20%;
  }

  .butLabel{
    margin-top: 40px;
    color: white;
    text-decoration: solid;
    text-align: center;

  }

  .buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
  }

  footer{
    display: flex;
    justify-content: space-evenly;
  }


  .latLon{
    margin-top: 8px;
  }
.container{
    margin: 0 auto;
    padding: 0;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
}

.messageIcon{
  width:15%;
  height: 15%;
}

.userIcon{
  width:15%;
  height: 15%;
}

.ticketIcon{
  width: 15%;
  height: 15%;
}