<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="form-group">
                
                <label for="messages"><h1><strong>Messages</strong></h1></label>
                <input type="text" id="sending" formControlname="sending"class="form-control" placeholder="Sending to who?" [(ngModel)]="messageObj.sending"/>
                <textarea class="messages" id="messages" formControlName="messages"
                    [(ngModel)]="messageObj.messages"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-light" (click)="submit()">Submit</button>
        </form>

    </div>

</body>
<footer>
    <a href="/dashboard"><strong><img class="homeIcon" src="../../../assets/home.svg"></strong></a>  <a href="/forms"><strong><img class="ticketIcon" src="../../../assets/tickets.svg"></strong></a>  <a
        href="/profile"><strong><img class="userIcon"src="../../../assets/user.svg"></strong> </a>
</footer>

</html>