
body {
    margin: 0 auto;
    padding: 0;
    width: 100vh;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-image: url('../../images/dashboardPlane.jpg');
    background-position: 100%;
    background-size: cover;
}
.container{
    margin: 0;
    padding: 0;
    width: 100vh;
}
    
.form-group {

    
    display: flex;
    flex-direction: column;
}
    
.messages{
    margin: 0 auto;
    padding: 2px;
    display: center;
    justify-content: center;
    width: 50%;
    height: 50vh;
    margin-top: 60px;
}
.form-group label {
    font-weight: bold;
    color:#fff;
}
.btn{
    width: 20%;
    color: white
}

footer{
    display: flex;
    justify-content: space-evenly;
  }