
body {
    
        margin: 0;
        padding: 0;
        width: 100vh;
        height: 100vh;
        align-items: center;
        text-align: center;
        background-image: url('../../images/formsUnited.jpeg');
        background-position: 100%;
        background-size: cover;
    }
    


.container{
    margin: 0 ;
    padding: 2px;
    width: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

form{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} 


/* .form-group{
    
    align-items: center;

} */
.ng-select.custom {
    margin: 0 auto;
    border: 1px gray;
    border-style: solid;
    min-height: 0px;
    border-radius: 3;
    background-color: rgb(232, 229, 225);
    width: 200px;
    display: flex;
    text-align: center;
    margin-top: 2vh;
}
video {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
  }


.subBut{
    
}
.textA{
    margin: 0;
    padding: 2;
    margin-top: 2vh;
    width: 80vh;
    height: 30vh
}
.ng-select.custom:hover {
    background-color: rgb(60, 50, 241);

}

.ng-select.custom .ng-select-container {
    min-height: 0px;
    border-radius: 0;
}

.btn-yellow {
    background-color: #ffff00;
    color: black;
    
}

.btn-red {
    background-color: red;
    color: black;
    /* margin-top: 1vh;
    margin-bottom: 1vh; */
}

.drop-zone {
    width: 100%;
    height: 20px;
    border: dashed 2px #ccc;
    text-align: center;
    padding: 10px;
  }
  
  .drop-zone.hover {
    background-color: #f9f9f9;
  }

  .button {
    color: white;
    background-color: blue;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
  }
  
  ul.links {
    padding-bottom: 10px;
  }