<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    </head>
<header>
    <a href="/dashboard"><strong><img class="homeIcon" src="../../../assets/home.png"></strong> </a>    <a  href="/profile"><img class="userIcon" src="../../../assets/user.png"> </a> <a href="/messages"><strong><img class="messageIcon"src="../../../assets/message.png"></strong></a>
        </header>
<body>
   


    <div class="container">

        <form class="form-group" #myForm="ngForm" (ngSubmit)="yoForm(myForm)" action="/profile" method="post"
            enctype="multipart/form-data">
            <div class="form-group">
                <div class="label">
                    <label class="form-check-label" for="terminal"><strong>Terminal</strong></label>
                </div>
                
                    <select class="form-control" name="terminal" id="terminal" ngModel>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>5</option>
                    </select>
                
                <div class="label">
                    <label class="form-check-label" for="section"><strong>Section</strong></label>
                </div>
                
                    <select class="form-control" name="section" id="section" ngModel>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                        <option>E</option>
                        <option>F</option>
                        <option>G</option>
                        <option>H</option>
                        <option>I</option>
                        <option>J</option>
                        <option>K</option>
                        <option>L</option>
                        <option>M</option>
                    </select>
                
                
                    <div class="label">
                        <label class="form-check-label" for="machines"><strong>Machine Select</strong></label>
                    </div>
                    <select class="form-control" name="machines" id="machines" ngModel>
                        <option>Kiosk</option>
                        <option>TSA Line</option>
                        <option>Gate</option>
                        <option>Baggage</option>
                    </select>
                
            </div>

            <div class="form-group">
                <div class="label">
                    <label class="form-check-label" for=""><strong>Leave A Description</strong></label>
                </div>

                <textarea class="textA" name="comments" id="comments" [(ngModel)]="ticketObj.messages"></textarea>
            </div>
            <div class="form-check">
                <div class="button-container">
                    <button class="red-button" type="radio" [(ngModel)]="ticketObj.red"  value="red" id="red"> Red</button>
                    <button class="yellow-button" type="radio" [(ngModel)]="ticketObj.yellow" value="yellow" id="yellow"> Yellow</button>
                    <button class="green-button" type="radio" [(ngModel)]="ticketObj.green" value="green" id="green"> Green</button>
                </div>

            </div>


            <div *ngIf="isCameraExist; else noCameraExist">

                <!-- <video [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="avatar" [width]="WIDTH"
                    [height]="HEIGHT" autoplay name="avatar"></video>
                <canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
                    [height]="HEIGHT" name="avatar"></canvas> -->
                <button mat-stroked-button *ngIf="!isCaptured" (click)="capture()">
                    Take Video
                </button>
                <button mat-stroked-button *ngIf="isCaptured" (click)="removeCurrent()">
                    Stop
                </button>
            </div>

            <div style="text-align:center">
                <div class="webcam-image" *ngIf="webcamImage">
                    <img [src]="webcamImage.imageAsDataUrl" />
                </div>
                <div class="btn-group">
                    <button class="button" (click)="takeSnapshot()">Take Picture</button>
                    <button class="button" (click)="changeWebCame(true)">Toggle Camera</button>
                    <button class="button" (click)="onOffWebCame()">Switch camera</button>
                </div> <br />
                <webcam [height]="500" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                    *ngIf="showWebcam" [switchCamera]="nextWebcamObservable">
                </webcam>
            </div>

            <div *ngIf="errors.length > 0">
                <h4>Error Messages:</h4>
                <ul *ngFor="let error of errors">
                    <li>{{ error | json }}</li>
                </ul>
            </div>


            <ng-template #noCameraExist>
                Camera device not available
            </ng-template>
            <div class="images">
                <input type="file" multiple="multiple" name="avatar">
                <!-- <input type="button" id="images" name="avatar" value="upload"
                    onclick="google.script.run.logForm(document.getElementById('uploadTest'));"> -->
            </div>
            <!-- <div>
                <h3>Uploaded Images</h3>

                1. {{video}} | 2. {{video}} | 3. {{video}} | 4. {{video}}
            </div>  -->

            <div class="subBut">
                <button type="submit" class="btn btn-primary mt-2" (click)="submit()">Submit</button>
            </div>
            <ul>
                <li *ngFor="let src of imageCaptures; let idx = index" (click)="setPhoto(idx)">
                    <img [src]="src" height="60" />
                </li>
            </ul>
        </form>
        <video #video></video>
       
    </div>

</body>
        
</html>