<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <div class="container">

        <form class="form-group"#myForm="ngForm" (ngSubmit)="yoForm(myForm)" action="/profile" method="post"
            enctype="multipart/form-data">


            <div *ngIf="isCameraExist; else noCameraExist">

                <video [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="avatar" [width]="WIDTH"
                    [height]="HEIGHT" autoplay name="avatar"></video>
                <canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
                    [height]="HEIGHT" name="avatar"></canvas>
                <button mat-stroked-button *ngIf="!isCaptured" (click)="capture()">
                    Take Video
                </button>
                <button mat-stroked-button *ngIf="isCaptured" (click)="removeCurrent()">
                    Stop
                </button>
            </div>

            <div style="text-align:center">
                <div class="webcam-image" *ngIf="webcamImage">
                    <img [src]="webcamImage.imageAsDataUrl" />
                </div>
                <div class="btn-group">
                    <button class="button" (click)="takeSnapshot()">Take Picture</button>
                    <button class="button" (click)="changeWebCame(true)">Toggle Camera</button>
                    <button class="button" (click)="onOffWebCame()">Switch camera</button>
                </div> <br />
                <webcam [height]="500" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                    *ngIf="showWebcam" [switchCamera]="nextWebcamObservable">
                </webcam>
            </div>

            <div *ngIf="errors.length > 0">
                <h4>Error Messages:</h4>
                <ul *ngFor="let error of errors">
                    <li>{{ error | json }}</li>
                </ul>
            </div>


            <ng-template #noCameraExist>
                Camera device not available
            </ng-template>
            <div class="images">
                <input type="file" multiple="multiple" name="avatar">
                <input type="button" id="images" name="avatar" value="upload"
                    onclick="google.script.run.logForm(document.getElementById('uploadTest'));">
            </div>
            <!-- <div>
                <h3>Uploaded Images</h3>

                1. {{video}} | 2. {{video}} | 3. {{video}} | 4. {{video}}
            </div>  -->

            <div class="form-group">
                <div class="label">
                    <label class="form-check-label" for="machines">Machine Select</label>
                </div>
                <div>
                    <select class="form-control" name="machines" id="machines" ngModel>
                        <option>Kiosk</option>
                        <option>TSA Line</option>
                        <option>Gate</option>
                        <option>Baggage</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label class="form-check-label" for="">Leave A Description</label>
                </div>

                <textarea class="textA" name="comments" id="comments" [(ngModel)]="ticketObj.messages"></textarea>
            </div>
            <div class="form-check">
                    <label class="form-check-label " for="green">Green</label> 
                    <input class="form-check-input  " type="radio"  name="green" [(ngModel)]="ticketObj.green" value="green" id="green" >

                    <label class="form-check-label" for="yellow">Yellow</label>
                    <input class="form-check-input" type="radio" name="yellow" [(ngModel)]="ticketObj.yellow" value="yellow" id="yellow" >

                    <label class="form-check-label" for="red">Red</label>  
                    <input class="form-check-input" type="radio" name="red" [(ngModel)]="ticketObj.red"  value="red" id="red" >

            </div>
            <div class="subBut">
                <button type="submit" class="btn btn-primary mt-2" (click)="submit()">Submit</button>
            </div>
            <ul>
                <li *ngFor="let src of imageCaptures; let idx = index" (click)="setPhoto(idx)">
                    <img [src]="src" height="60" />
                </li>
            </ul>
        </form>
                    <video #video></video>
                    <footer>
                        <a href="/dashboard"><strong>Home</strong></a> | <a href="/profile"><strong>Profile</strong></a> | <a href="/messages"><strong>Messages</strong> </a>
                      </footer>
    </div> 

</body>

</html>