<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- <app-profile></app-profile> -->
<body>
    <div class="container">
        <h1>Profile Page</h1>

        <h1>{{ userName }}</h1>
        <img src="../../../assets/me.jpg" alt="{{ userName }} " class="imageUrl">
    
        <div class="profile-details">
            <p><strong>Email: Jeff@united.com</strong>  {{ email }}</p>
            <p><strong>UserName: Jeff</strong>  {{ phone }}</p>
            <p><strong>Position: Field Service Agent</strong> {{ address }}</p>
        </div>
    
        
    

    </div>
    
    
</body>
<footer>

        <a href="/dashboard"><strong><img class="homeIcon" src="../../../assets/home.png"></strong></a>  <a href="/messages"><strong><img class="messageIcon"src="../../../assets/message.png"></strong></a>  <a href="/accountSettings"><strong>Account Settings</strong> </a>
    </footer>
</html>