<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- <app-profile></app-profile> -->
<body>
    <div class="container">
        <h1>Welcome To The Profile Page</h1>

        <h1>{{ userName }}</h1>
        <img src="{{ imageUrl }}" alt="{{ userName }} " class="w-150px h-150px">
    
        <div class="profile-details">
            <p><strong>Email:</strong> {{ email }}</p>
            <p><strong>Phone:</strong> {{ phone }}</p>
            <p><strong>Address:</strong> {{ address }}</p>
        </div>
    
        <a href="/accountSettings">Account Settings</a>
    

    </div>
    
    
</body>

</html>