/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
    margin: 0 auto;
    padding: 0;
    width: 100vh;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    
}



body {
    margin: 0 auto;
    padding: 0;
    width: 100vh;
    border-radius: 5px;

}

footer {
    margin: 0;
    padding: 8px;
    background-color: white;
    text-align: center;

}

header {
    margin: 0;
    padding: 8px;
    text-align: center;

}

#map {
    height: 100%;
}

.messageIcon{
    width:15%;
    height: 15%;
    color: rgb(0,84,146);
  }
  
  .userIcon{
    width:15%;
    height: 15%;
    color: rgb(0,84,146);
  }
  
  .ticketIcon{
    width: 15%;
    height: 15%;
    color: rgb(0,84,146);
  }

  .homeIcon{
    width: 15%;
    height: 15%;
    color: rgb(0,84,146);
  }