/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

*{
    margin: 0 auto;
    padding: 0;
    width: 100vh;
}

body{

}

footer{
    margin: 0;
    padding: 8px;
    text-align: center;
    
}

header{
    margin: 0;
    padding: 8px;
    text-align: center;
}